@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
  font-size: 26px;
  font-weight: 300;
}

.wrrapen {
  overflow: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background: #FFFBD2;
}

._container {
  max-width: 1045px;
  margin: 0 auto;
  padding: 0px 10px;
}

@media (max-width: 425px) {
  p {
    font-size: 14px;
  }
}
.header {
  background: #69E15F;
}

.header__container {
  display: flex;
  min-height: 101px;
  justify-content: space-between;
  align-items: center;
}

.header__return {
  display: flex;
}

.header__return a {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000;
  border-bottom: 3px solid transparent;
  transition: all 0.5s ease 0s;
}
.header__return a:hover {
  color: #ffffff;
  border-bottom: 3px solid rgb(255, 255, 255);
  transition: all 0.5s ease 0s;
}

.header__img {
  max-width: 60px;
  transform: translate(0px, -3px);
}

.header__img img {
  max-width: 100%;
}

@media (max-width: 425px) {
  .header__return a {
    font-size: 22px;
  }
  .header__img {
    max-width: 50px;
  }
}
.about__choice-languages {
  background: url("../image/icons/Polygon 1.png") 52px 4px no-repeat;
}

.about-image__choice-languages {
  margin: -2px 0px 0px 0px;
}

#about__language {
  margin: 0px 25px 0px 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #69E15F;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #000;
}

.main {
  margin: 5% 0px;
}

.page__block-description {
  margin: 0px 0px 70px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.description-certificates__body {
  padding: 35px 70px;
  border: 3px solid #226C21;
  border-radius: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 790px;
}

.description-certificates__text {
  max-width: 490px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.description-certificates__img {
  margin: 0px 0px 0px 10px;
}

@media (max-width: 425px) {
  .description-certificates__body {
    display: flex;
    flex-direction: column-reverse;
  }
  .description-certificates__body .description-certificates__text {
    padding-top: 15px;
  }
}
.my-certificates__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.my-certificates-certificates__body {
  margin: 70px 0px;
  max-width: 790px;
  background: #226C21;
  border-radius: 46px;
}

.my-certificates-certificates__text {
  max-width: 553px;
  margin: 0px 85px;
  padding: 65px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}

.my-certificates__border {
  border-top: 9px solid #226C21;
  border-bottom: 9px solid #226C21;
  text-align: center;
}
.my-certificates__border .my-certificates__title {
  width: 400px;
  display: inline-block;
  margin: 0;
  transform: translateY(-70%);
  background: #FFFBD2;
  padding: 0 0.5em;
}
.my-certificates__border .my-certificates__contant {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 425px) {
  .my-certificates__border .my-certificates__title {
    width: 328px;
  }
}
.my-certificates__border .my-certificates__leg-right .my-certificates__level .level__body .level__title h3, .my-certificates__border .my-certificates__leg-left .my-certificates__level .level__body .level__title h3 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 133.07%;
}
.my-certificates__border .my-certificates__leg-right .my-certificates__level .level__body .level__discription, .my-certificates__border .my-certificates__leg-left .my-certificates__level .level__body .level__discription {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 16px;
  line-height: 133.07%;
}
.my-certificates__border .my-certificates__leg-left {
  display: flex;
  align-items: center;
  margin: 5% 0px;
}
.my-certificates__border .my-certificates__leg-left .my-certificates__level {
  display: flex;
  align-items: center;
  border: 3px solid #226C21;
  border-radius: 28.5478px;
}
.my-certificates__border .my-certificates__leg-left .my-certificates__level .level__img {
  padding: 41px 0px 40px 20px;
  max-width: 350px;
}
.my-certificates__border .my-certificates__leg-left .my-certificates__level .level__img img {
  max-width: 100%;
}
.my-certificates__border .my-certificates__leg-left .my-certificates__level .level__body {
  margin-left: 20px;
  text-align: left;
}
.my-certificates__border .my-certificates__leg-left .my-certificates__level .level__body .level__title h3 {
  margin: 0px 0px 10px 0px;
}
.my-certificates__border .my-certificates__leg-left .my-certificates__level .level__body .level__discription {
  max-width: 158px;
}
.my-certificates__border .my-certificates__leg-right {
  display: flex;
  align-items: center;
  margin: 5% 0px;
}
.my-certificates__border .my-certificates__leg-right .leg-right__img {
  margin: 0px 0px 0px 10px;
}
.my-certificates__border .my-certificates__leg-right .my-certificates__level {
  display: flex;
  align-items: center;
  background: #226C21;
  border: 1.58599px solid #194D18;
  border-radius: 28.5478px;
}
.my-certificates__border .my-certificates__leg-right .my-certificates__level .level__img {
  padding: 41px 0px 40px 20px;
  max-width: 350px;
}
.my-certificates__border .my-certificates__leg-right .my-certificates__level .level__img img {
  max-width: 100%;
}
.my-certificates__border .my-certificates__leg-right .my-certificates__level .level__body {
  margin-left: 20px;
  text-align: left;
  padding-right: 15px;
}
.my-certificates__border .my-certificates__leg-right .my-certificates__level .level__body .level__title h3 {
  margin: 0px 0px 10px 0px;
  color: #fff;
}
.my-certificates__border .my-certificates__leg-right .my-certificates__level .level__body .level__discription {
  max-width: 158px;
}
.my-certificates__border .my-certificates__leg-right .my-certificates__level .level__body .level__discription {
  color: #fff;
}
@media (max-width: 764px) {
  .my-certificates__border .leg-left__img,
.my-certificates__border .leg-right__img {
    display: none;
  }
}
@media (max-width: 445px) {
  .my-certificates__border .level__discription {
    font-size: 12px;
  }
  .my-certificates__border .level__body {
    padding: 12px 10px 10px 0px;
  }
  .my-certificates__border .level__title h3 {
    font-size: 12px;
    font-weight: 400;
  }
  .my-certificates__border .level__discription p {
    font-size: 12px;
  }
}
.my-certificates__border .my-certificates__point {
  width: 400px;
  display: inline-block;
  margin: 0;
  transform: translateY(61%);
  background: #FFFBD2;
  padding: 0 0.5em;
}

.finish__body .finish__image-text {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.finish__body .finish__image-text .image-text__img {
  position: relative;
}
.finish__body .finish__image-text .image-text__img .image-text__text {
  max-width: 187px;
  position: absolute;
  left: 50%;
  top: 26%;
  font-weight: 500;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #11240E;
}
@media (max-width: 425px) {
  .finish__body .finish__image-text {
    display: none;
  }
}
@media (max-width: 425px) {
  .finish__body .finish__arrow-text {
    margin: 20px 0px 0px 0px;
  }
}
.finish__body .finish__arrow-text .arrow-text__body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.finish__body .finish__arrow-text .arrow-text__body .arrow-text__text p {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
}
@media (max-width: 425px) {
  .finish__body .finish__arrow-text .arrow-text__body .arrow-text__text p {
    font-size: 18px;
  }
}
.finish__body .finish__back-menu {
  margin-top: 5%;
}
.finish__body .finish__back-menu .back-menu__body {
  display: flex;
  align-items: center;
}
.finish__body .finish__back-menu .back-menu__body .back-menu__arrow {
  max-width: 60px;
}
.finish__body .finish__back-menu .back-menu__body .back-menu__arrow img {
  max-width: 100%;
}
.finish__body .finish__back-menu .back-menu__body .back-menu__text a {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.footer__body .footer__social-link .social-link__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.footer {
  background: #69E15F;
}

.footer__body {
  min-height: 101px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__body .footer__social-link {
  display: flex;
  align-items: center;
}
.footer__body .footer__social-link .social-link__img {
  margin-right: 15px;
}
@media (max-width: 488px) {
  .footer__body {
    display: flex;
    flex-direction: column;
  }
  .footer__body .footer__social-link {
    padding: 10px 0px;
  }
}